<section class="home-section-business">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12">
                <h2>BUSINESS CHALLENGES?<br>
                    WE'VE GOT YOU.</h2>
                <p>
                    Like most business leaders, you need to hit certain revenue goals. But changes in the market,
                    evolving budgets and business needs, and limited IT resources can sometimes send things off the
                    rails. We can help you get back on track.
                </p>
                <div class="row">
                    <div class="col-sm-12">
                        <button type="submit" class="btn btn-primary">Ask an Expert</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <img src="../../assets/images/home/bizchallange.jpg">
            </div>
         </div>
    </div>
</section>
<section class="home-section-heretohelp">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <!-- <img src="assets/images/products/revenuemaximizer_big.png"> -->
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <h2>WE'RE HERE TO HELP
                    YOU SUCCEED</h2>
                <p>
                    No matter how big or small, your company can benefit from the help of System Soft Technologies. We
                    specialize in technology solutions, systems integration, rapid application development and process
                    automation. Our service offerings can help push your business to greater heights.
                </p>
                <div class="row">
                    <div class="col-sm-12">
                        <button type="submit" class="btn btn-primary">DATA ANALYTICS</button>
                        <button type="submit" class="btn btn-primary">DATA ANALYTICS</button>
                        <button type="submit" class="btn btn-primary">DATA ANALYTICS</button>
                        <button type="submit" class="btn btn-primary">DATA ANALYTICS</button>
                        <button type="submit" class="btn btn-primary">DATA ANALYTICS</button>
                        <button type="submit" class="btn btn-primary">DATA ANALYTICS</button>
                        <button type="submit" class="btn btn-primary">DATA ANALYTICS</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="home-section-about">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <h2>LEARN MORE
                    ABOUT:</h2>
                <div class="row">
                    <div class="col-sm-12">
                        <button type="submit" class="btn btn-primary">DATA ANALYTICS</button>
                        <button type="submit" class="btn btn-primary">DATA ANALYTICS</button>
                        <button type="submit" class="btn btn-primary">DATA ANALYTICS</button>
                        <button type="submit" class="btn btn-primary">DATA ANALYTICS</button>
                        <button type="submit" class="btn btn-primary">DATA ANALYTICS</button>
                        <button type="submit" class="btn btn-primary">DATA ANALYTICS</button>
                        <button type="submit" class="btn btn-primary">DATA ANALYTICS</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <!-- <img src="assets/images/products/revenuemaximizer_big.png"> -->
            </div>
        </div>
    </div>
</section>
<section class="home-section-video">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">

            </div>

        </div>
    </div>
</section>

<section class="home-section-partner">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2>SYSTEM SOFT
                    PARTNERS</h2>
            </div>
        </div>
    </div>
    <div class="row">
        <!-- <div class="col-sm-12">
            <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfigPartner">
                @for (slide of slides; track slide.img) {
                <div ngxSlickItem class="slide">
                    <img src="{{ slide.img }}" alt="" width="100%">
                </div>
                }
            </ngx-slick-carousel>
        </div> -->
    </div>
</section>

<section class="testimonials">
    <!-- <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfigTestimonials">
        @for (slide of slides; track slide.img) {
        <div ngxSlickItem class="slide">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <h2>What Our Clients are Saying</h2>
                        <p>
                            System Soft’s Creative team conveyed our company in the utmost light. We got to showcase all
                            the different aspects we wanted to with their helpful planning and execution, and just
                            listening to our feedback. . . . They met and exceeded expectations with the final product.
                        </p>

                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <img src="{{ slide.img }}" alt="" width="100%">
                    </div>
                </div>
            </div>
        </div>
        }
    </ngx-slick-carousel> -->
</section>

<section class="expert-view">
    <div class="container">
        <div class="row">
            <h2>WHAT OUR EXPERTS
                ARE SAYING</h2>
        </div>
    </div>
    <!-- <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfigExpertView">
        @for (slide of slides; track slide.img) {
        <div ngxSlickItem class="slide">
            <img src="{{ slide.img }}" alt="" width="100%">
                            <p>
                                System Soft’s Creative team conveyed our company in the utmost light. We got to showcase all
                               </p>
                            <button type="submit" class="btn btn-primary">DATA ANALYTICS</button>
        </div>
        }
    </ngx-slick-carousel> -->
</section>

<section class="home-section-about">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <h2>OUR SUCCESS
                    STARTS WITH YOU</h2>
                    <p>
                        At System Soft, we are a family unit powered by diversity, inclusion, transparency, respect, integrity and passion for our clients and our people. Our business growth depends on our employees’ professional development. By forging a meaningful partnership with our people, we stay nimble, ahead of the competition and on top of our industry. Come see what we’re all about!
                    </p>
                <div class="row">
                    <div class="col-sm-12">
                        <button type="submit" class="btn btn-primary">DATA ANALYTICS</button>
                        <button type="submit" class="btn btn-primary">DATA ANALYTICS</button>
                        <button type="submit" class="btn btn-primary">DATA ANALYTICS</button>
                        <button type="submit" class="btn btn-primary">DATA ANALYTICS</button>
                        <button type="submit" class="btn btn-primary">DATA ANALYTICS</button>
                        <button type="submit" class="btn btn-primary">DATA ANALYTICS</button>
                        <button type="submit" class="btn btn-primary">DATA ANALYTICS</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <!-- <img src="assets/images/products/revenuemaximizer_big.png"> -->
            </div>
        </div>
    </div>
</section>