<nav id="nav" class="navbar navbar-expand-lg"  [ngClass]="{'sticky' : isSticky}">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="../../assets/logo.png" alt="" width="30" height="30" class="d-inline-block align-text-top">
            Modern Love Film
          </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
        <li *ngFor="let item of mainList; index as i" class="nav-item">
            <a class="nav-link" routerLinkActive="active" skipLocationChange=true>{{item.name}}</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
