<nav id="nav" class="navbar navbar-expand-lg"  [ngClass]="{'sticky' : isSticky}">
    <div class="container">
        <a class="navbar-brand logo" href="#">
          <i class="icon">
            <svg focusable="false">
                <use xlink:href="#icon_logo"></use>
            </svg>
        </i>
        <i class="logo-text">Modern Love Film </i> 
          </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
        <li *ngFor="let item of mainList; index as i" class="nav-item">
            <a class="nav-link" routerLinkActive="active" skipLocationChange=true>{{item.name}}</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
