<section class="footer">
    <img class="free-img _1" src="../../assets/images/home/footer-1.jpeg">
    <div class="container">
        <footer>
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-12 mb-3">
                    <h3>Section</h3>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
                    </ul>
                </div>
    
                <div class="col-lg-2 col-md-2 col-sm-12 mb-3">
                    <h3>Section</h3>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
                    </ul>
                </div>
    
                <div class="col-lg-2 col-md-2 col-sm-12 mb-3">
                    <h3>Section</h3>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
                    </ul>
                </div>
    
                <div class="col-md-5 col-sm-12 offset-md-1 mb-3">
                    <h3>Contact Information</h3>
                    <p class="mb-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, magnam!</p>
                    <p class="mb-2">
                         9757 Aspen Lane South Richmond Hill, <br>NY 11419
                        +1 (291) 939 9321
                    </p>
                    <p>+1 (291) 939 9321</p>
                </div>
            </div>
    
            <div class="d-flex flex-column flex-sm-row justify-content-between pt-5 border-top">
                <p>© 2023 ModernFilm, Inc. All rights reserved.</p>
                <ul class="list-unstyled d-flex">
                    <li class="ms-3"><a class="link-dark" href="#">
                        <i class="icon icon-small">
                            <svg focusable="false">
                                <use xlink:href="#icon_facebook"></use>
                            </svg>
                        </i>
                    </a></li>
                    <li class="ms-3"><a class="link-dark" href="#">
                        <i class="icon icon-small">
                            <svg focusable="false">
                                <use xlink:href="#icon_instagram"></use>
                            </svg>
                        </i>
                        </a></li>
                    <li class="ms-3"><a class="link-dark" href="#">
                        <i class="icon icon-small">
                            <svg focusable="false">
                                <use xlink:href="#icon_twitter"></use>
                            </svg>
                        </i>
                        </a></li>
                </ul>
            </div>
        </footer>
    </div>
</section>